html,
body {
  height: 100%;
  margin: 0;
}
#root {
  padding: 10px;
  height: 100%;
}
.dndflow {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
}
.dndflow .reactflow-wrapper {
  flex-grow: 1;
}
.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
  width: 20%;
  max-width: 250px;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.node {
  height: 20px;
  padding: 4px;
  border: 1px solid 1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  width: 120px;
}

.node-formula {
  border: 1px solid greenyellow;
}
.node-goto {
  border: 1px solid blueviolet;
}
.node-goto-title {
  margin-right: 0.25rem;
}
.node-split {
  border: 1px solid gainsboro;
}
